{% set availability_zone_count = default_worker_machinesets | length %}
{% for machineset_group in machineset_custom_groups %}
{%   for reference_machineset in default_worker_machinesets %}
{%     set availability_zone = reference_machineset.spec.template.spec.providerSpec.value.placement.availabilityZone %}
{%     set machineset_name = [infraid, machineset_group.name, availability_zone] | join('-') %}
---
apiVersion: machine.openshift.io/v1beta1
kind: MachineSet
metadata:
  labels:
    machine.openshift.io/cluster-api-cluster: {{ infraid | to_json }}
    machine.openshift.io/cluster-api-machineset-group: {{ machineset_group.name | to_json }}
  name: {{ machineset_name | to_json }}
  namespace: openshift-machine-api
spec:
{%     if not machineset_group.autoscale | default(False) | bool %}
  replicas: {{
    ( (machineset_group.replicas + availability_zone_count - loop.index) / availability_zone_count) | int
    }}
{%     endif %}
  selector:
    matchLabels:
      machine.openshift.io/cluster-api-cluster: {{ infraid | to_json }}
      machine.openshift.io/cluster-api-machine-role: {{ machineset_group.name | to_json }}
      machine.openshift.io/cluster-api-machine-type: worker
      machine.openshift.io/cluster-api-machineset: {{ machineset_group.name | to_json }}
  template:
    metadata:
      labels:
        machine.openshift.io/cluster-api-cluster: {{ infraid | to_json }}
        machine.openshift.io/cluster-api-machine-role: {{ machineset_group.name | to_json }}
        machine.openshift.io/cluster-api-machine-type: worker
        machine.openshift.io/cluster-api-machineset: {{ machineset_group.name | to_json }}
    spec: 
     metadata:
       labels:
{%     for role in machineset_group.roles %}
         node-role.kubernetes.io/{{ role }}: "" 
{%     endfor %}
     providerSpec: {{ 
       reference_machineset.spec.template.spec.providerSpec
       | combine(machineset_group.provider_spec_override | default({}), recursive=True)
       | to_json
     }}
{%     if machineset_group.autoscale | default(False) | bool %}
---
apiVersion: "autoscaling.openshift.io/v1beta1"
kind: "MachineAutoscaler"
metadata:
  name: {{ machineset_name | to_json }}
  namespace: openshift-machine-api
spec:
  maxReplicas: {{
    ( (machineset_group.max_replicas + availability_zone_count - loop.index) / availability_zone_count) | int
    }}
  minReplicas: {{
    ( (machineset_group.min_replicas + availability_zone_count - loop.index) / availability_zone_count) | int
    }}
  scaleTargetRef:
    apiVersion: machine.openshift.io/v1beta1
    kind: MachineSet
    name: {{ machineset_name | to_json }}
{%     endif %}
{%   endfor %}
{% endfor %}
